/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-color: #000028;
  --main-title-color: #DB00FF;
  --decor-color: #FF0070;
  --section-title-color: #FF0070;
  --content-title-color: #000028;
  --text-color: #F1B2CE;
  --main-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .header-decor {
  display: block;
}