/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-color: #000028;
  --main-title-color: #DB00FF;
  --decor-color: #FF0070;
  --section-title-color: #FF0070;
  --content-title-color: #000028;
  --text-color: #F1B2CE;
  --header-image: url(../images/cover-image-dark.png);
}

.page {
  background-color: var(--main-color);
}

.page.theme_dark .header {
  background: var(--header-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page.page.theme_dark .header::before {
  border-top: 1px solid var(--section-title-color);
  border-right: 1px solid var(--section-title-color);
}

.page.page.theme_dark .header::after {
  border-bottom: 1px solid var(--section-title-color);
  border-left: 1px solid var(--section-title-color);
}

.page.page.theme_dark .header-decor {
  display: block; 
}

.page.theme_dark .header__theme-menu-button {
  color: var(--section-title-color);
}

.page.theme_dark .header__theme-menu-button_active {
  outline: 1px solid var(--section-title-color);
}

.page.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.page.theme_dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--section-title-color);
}

.page.theme_dark .main-title {
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--decor-color);
}

.page.theme_dark .title-decor {
  color: var(--content-title-color);
  background-color: var(--decor-color);
}

.page.theme_dark .content-link {
  text-shadow: var(--decor-color) 1px 2px;
}

.page.theme_dark .content-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.page.theme_dark .content-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.page.theme_dark .footer::before {
  border-top: 1px solid var(--section-title-color);
  border-right: 1px solid var(--section-title-color);
}

.page.theme_dark .footer::after {
  border-bottom: 1px solid var(--section-title-color);
  border-left: 1px solid var(--section-title-color);
}