/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-color: #FFF1F7;
  --main-title-color: #FFC2E6;
  --decor-color: #FF8DCB;
  --section-title-color: #353430;
  --content-title-color: #353430;
  --text-color: #353430;
  --header-image: url(../images/cover-image-light.png);
}

.page {
  background-color: var(--main-color);
}

.page.theme_light  .header {
  background: var(--header-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page.theme_light .header::before {
  border-top: 1px solid var(--section-title-color);
  border-right: 1px solid var(--section-title-color);
}

.page.page.theme_light .header::after {
  border-bottom: 1px solid var(--section-title-color);
  border-left: 1px solid var(--section-title-color);
}

.page.theme_light .header-decor {
  display: none;
}

.page.theme_light .header__theme-menu-button_type_light {
  color: var(--section-title-color);
}

.page.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--section-title-color);
}

.page.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--section-title-color);
}

.page.theme_light .main-title {
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--decor-color);
}

.page.theme_light .title-decor {
  color: var(--content-title-color);
  background-color: var(--decor-color);
}

.page.theme_light .content-link {
  text-shadow: var(--decor-color) 1px 2px;
}

.page.theme_light .content-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.page.theme_light .content-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.page.theme_light .footer::before {
  border-top: 1px solid var(--section-title-color);
  border-right: 1px solid var(--section-title-color);
}

.page.theme_light .footer::after {
  border-bottom: 1px solid var(--section-title-color);
  border-left: 1px solid var(--section-title-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #FFF1F7;
    --main-title-color: #FFC2E6;
    --decor-color: #FF8DCB;
    --section-title-color: #353430;
    --content-title-color: #353430;
    --text-color: #353430;
    --header-image: url(../images/cover-image-light.png);
  }

  .header-decor {
    display: none;
  }
  
  .header {
    background: var(--header-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }

  .footer::before {
    content: url(../images/corner_light.png);
  }
}