/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-color: #000028;
  --main-title-color: #DB00FF;
  --decor-color: #FF0070;
  --section-title-color: #FF0070;
  --content-title-color: #000028;
  --text-color: #F1B2CE;
  --main-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex mono';
  --main-gap: 20px;
  --font-size: 18px;
  --line-height: 23.4px;
  --breakpoint-simulation: calc(100vw - 768px);
}